unitycloudADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "unitycloudADF"
		},
		"BLACKBIRD_EDR_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BLACKBIRD_EDR'"
		},
		"ao5gccustdataingest adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ao5gccustdataingest adls'"
		},
		"AzureBlobStorage_stunitycloud_Identity_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://stunitycloud.blob.core.windows.net"
		},
		"AzureBlobStorage_stunitycloud_SAS_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "BlobstunitycloudSas"
		},
		"AzureDataExplorer_adxunitycloud_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://unitycloudadx.eastus.kusto.windows.net"
		},
		"AzureDataExplorer_adxunitycloud_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "mobilitycore"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://unitycloudkeyvault.vault.azure.net/"
		},
		"AzureKeyVault_kv_unityclouddiag_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://unitycloudkeyvault.vault.azure.net/"
		},
		"Blackbird2_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://blackbird2.eastus.kusto.windows.net"
		},
		"Blackbird2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "blackbird2"
		},
		"Snowflake_UnityCloudFFA_MobilityCore_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "SnowflakeMobilityCoreSysAdminConnectionString"
		},
		"Snowflake_UnityCloudFFA_MobilityCoreLocal_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "SnowflakeMobilityCoreLocalSysAdminConnectionString"
		},
		"ao5gccustdataingest adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ao5gccustdataingest.dfs.core.windows.net/"
		},
		"linkedService1_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "StagingBlobSas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BlackBird2_Child_PipeLine_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetQueries",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataExplorerSource",
								"query": {
									"value": "@concat('querytranformer(\"',pipeline().parameters.startdate,'\",\"',pipeline().parameters.enddate,'\",\"',pipeline().parameters.streamname,'\",\"',pipeline().parameters.destinationTable,'\",\"',pipeline().parameters.up,'\",\"',pipeline().parameters.SnowFlakeQuery,'\")')",
									"type": "Expression"
								},
								"queryTimeout": "00:10:00",
								"noTruncation": false
							},
							"dataset": {
								"referenceName": "AzureDataExplorerTable2",
								"type": "DatasetReference",
								"parameters": {
									"TblName": "BLSCKBIRD_FLOW_UP"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Through the results",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetQueries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetQueries').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 24,
							"activities": [
								{
									"name": "Call BlackBir2 Child Pipeline2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "BlackBird2_Child_PipeLine_2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SnowFlakeQuery": {
												"value": "@item().Cmd",
												"type": "Expression"
											},
											"IterationId": {
												"value": "@item().Id",
												"type": "Expression"
											},
											"destinationTable": {
												"value": "@item().dest_table",
												"type": "Expression"
											},
											"up": {
												"value": "@pipeline().parameters.up",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"startdate": {
						"type": "string"
					},
					"enddate": {
						"type": "string"
					},
					"streamname": {
						"type": "string"
					},
					"destinationTable": {
						"type": "string"
					},
					"up": {
						"type": "string"
					},
					"SnowFlakeQuery": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable2')]",
				"[concat(variables('factoryId'), '/pipelines/BlackBird2_Child_PipeLine_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlackBird2_Child_PipeLine_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetStageTableCmd",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataExplorerSource",
								"query": {
									"value": "@concat('stageTablecreatorquery(',string(pipeline().parameters.IterationId),',\"',pipeline().parameters.destinationTable,'\",\"',pipeline().parameters.up,'\")')",
									"type": "Expression"
								},
								"queryTimeout": "00:10:00",
								"noTruncation": false
							},
							"dataset": {
								"referenceName": "AzureDataExplorerTable2",
								"type": "DatasetReference",
								"parameters": {
									"TblName": "BLSCKBIRD_FLOW_UP"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "CreateStageTables",
						"type": "AzureDataExplorerCommand",
						"dependsOn": [
							{
								"activity": "GetStageTableCmd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "@activity('GetStageTableCmd').output.firstRow.stgcmd",
								"type": "Expression"
							},
							"commandTimeout": "00:20:00"
						},
						"linkedServiceName": {
							"referenceName": "Blackbird2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "BLACKBIRD_TO_BLACKBIRD2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CreateStageTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": {
									"value": "@pipeline().parameters.SnowFlakeQuery",
									"type": "Expression"
								},
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink",
								"ingestionMappingName": ""
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"parallelCopies": 32,
							"dataIntegrationUnits": 32
						},
						"inputs": [
							{
								"referenceName": "FLOW_UP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataExplorerTable2",
								"type": "DatasetReference",
								"parameters": {
									"TblName": {
										"value": "@activity('GetStageTableCmd').output.firstRow.stage_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SnowFlakeQuery": {
						"type": "string"
					},
					"IterationId": {
						"type": "int"
					},
					"destinationTable": {
						"type": "string"
					},
					"up": {
						"type": "string"
					}
				},
				"variables": {
					"test": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable2')]",
				"[concat(variables('factoryId'), '/linkedServices/Blackbird2')]",
				"[concat(variables('factoryId'), '/datasets/FLOW_UP')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - EDR PipelineMain')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Count Of Records by Hour and Up from Snowflake",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": {
									"value": "@concat('Select\n       time_slice(to_timestamp(EVENTTIME), 1, ''HOUR'', ''START'') as \"START OF SLICE\",\n       UP,\n       count(*) as \"Number of records\"\nFrom \"BLACKBIRD_EDR\".\"EDR\".\"',pipeline().parameters.streamname,'\" \nWHERE  EVENTTIME >= ''',pipeline().parameters.startdate,''' AND EVENTTIME < ''',pipeline().parameters.enddate,'''\n  group by \"START OF SLICE\", UP\n  order by to_timestamp(\"START OF SLICE\") asc')",
									"type": "Expression"
								},
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"dataset": {
								"referenceName": "FLOW_UP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "CaptureResulttoVariable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Count Of Records by Hour and Up from Snowflake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SnowflakeCountOutput",
							"value": {
								"value": "@replace(replace(replace(replace(join(activity('Get Count Of Records by Hour and Up from Snowflake').output.value,','),'}',''),'{\"START OF SLICE\":',''),'\"Number of records\":',''),'\"UP\":','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CaptureSnowflakeAuditInKusto",
						"type": "AzureDataExplorerCommand",
						"dependsOn": [
							{
								"activity": "CaptureResulttoVariable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "@concat('.set-or-replace SnowFlake_',pipeline().parameters.streamname,'_Audit with (folder =\"Audit\") <|\n    let T = datatable(StartTime:datetime,UP:string,CountOfRecords:long)[',variables('SnowflakeCountOutput'),']; \n    T')",
								"type": "Expression"
							},
							"commandTimeout": "00:20:00"
						},
						"linkedServiceName": {
							"referenceName": "Blackbird2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetDistinctUpForStream",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CaptureSnowflakeAuditInKusto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataExplorerSource",
								"query": {
									"value": "@concat('SnowFlake_',pipeline().parameters.streamname,'_Audit | distinct UP')",
									"type": "Expression"
								},
								"queryTimeout": "00:10:00",
								"noTruncation": false
							},
							"dataset": {
								"referenceName": "AzureDataExplorerTable2",
								"type": "DatasetReference",
								"parameters": {
									"TblName": "BLSCKBIRD_FLOW_UP"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopThroughResult",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetDistinctUpForStream",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetDistinctUpForStream').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 25,
							"activities": [
								{
									"name": "Call BlackBird2 Child Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "BlackBird2_Child_PipeLine_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"startdate": {
												"value": "@pipeline().parameters.startdate",
												"type": "Expression"
											},
											"enddate": {
												"value": "@pipeline().parameters.enddate",
												"type": "Expression"
											},
											"streamname": {
												"value": "@pipeline().parameters.streamname",
												"type": "Expression"
											},
											"destinationTable": {
												"value": "@pipeline().parameters.destinationTable",
												"type": "Expression"
											},
											"up": {
												"value": "@item().UP",
												"type": "Expression"
											},
											"SnowFlakeQuery": {
												"value": "@pipeline().parameters.SnowFlakeQuery",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"streamname": {
						"type": "string",
						"defaultValue": "FLOW_UP"
					},
					"startdate": {
						"type": "string",
						"defaultValue": "2023-02-12 00:00:00.0000000"
					},
					"enddate": {
						"type": "string",
						"defaultValue": "2023-02-12 01:00:00.0000000"
					},
					"destinationTable": {
						"type": "string",
						"defaultValue": "BLACKBIRD_FLOW_UP"
					},
					"SnowFlakeQuery": {
						"type": "string",
						"defaultValue": "select * FROM \\\"BLACKBIRD_EDR\\\".\\\"EDR\\\".\\\"@src_table\\\" WHERE EVENTTIME >= \\'@sp\\' AND EVENTTIME < \\'@ep\\' AND UP = \\'@up\\'"
					}
				},
				"variables": {
					"SnowflakeCountOutput": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FLOW_UP')]",
				"[concat(variables('factoryId'), '/linkedServices/Blackbird2')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable2')]",
				"[concat(variables('factoryId'), '/pipelines/BlackBird2_Child_PipeLine_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - MobilityCore_SMF_FEDERATE_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StreamMobilityCore_SMF_FEDERATE_PROD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select SF_LOAD_TS_EST, RECORD_CONTENT from \"MOBILITYCORELOCAL\".\"MSLOGS\".\"STREAM_SMF_PROD\"\nwhere (RECORD_CONTENT:tags.appName = 'smfcc_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pcfinterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_procedure'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pgw_procedure'\nOR RECORD_CONTENT:tags.appName = 'pgwcc_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pfcp_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_gtpcinterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_udminterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_chfinterface'\nOR RECORD_CONTENT:tags.job = 'kube-state-metrics' \nOR RECORD_CONTENT:tags.job = 'pfcp' \nOR RECORD_CONTENT:tags.job = 'smfmonitor')\nAND TO_DATE(SF_LOAD_TS_EST) >= TO_DATE('2023-01-01','yyyy-mm-dd')",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS_EST"
										},
										"sink": {
											"name": "SF_LOAD_TS_EST",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RECORD_CONTENT"
										},
										"sink": {
											"name": "RECORD_CONTENT",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SrcSnowflakeMobilityCoreSMF_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkADXMobilityCore_SMF_FEDERATE_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-28T16:08:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcSnowflakeMobilityCoreSMF_PROD')]",
				"[concat(variables('factoryId'), '/datasets/SinkADXMobilityCore_SMF_FEDERATE_PROD')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - MobilityCore_UPF_FEDERATE_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StreamMobilityCore_UPF_FEDERATE_PROD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select SF_LOAD_TS_EST, RECORD_CONTENT from \"MOBILITYCORELOCAL\".\"MSLOGS\".\"STREAM_UPF_PROD\"\nwhere (RECORD_CONTENT:tags.job = 'pfcp'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_control_plane_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_data_plane_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_intf_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_session_db_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_vpp_threads_cpu_utilization'\nOR RECORD_CONTENT:tags.appName = 'pfcp_procedure'\nOR RECORD_CONTENT:tags.appName = 'pfcp_protocol')\nAND TO_DATE(SF_LOAD_TS_EST) >= TO_DATE('2022-10-20','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS_EST"
										},
										"sink": {
											"name": "SF_LOAD_TS_EST",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RECORD_CONTENT"
										},
										"sink": {
											"name": "RECORD_CONTENT",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SrcSnowflakeMobilityCoreUPF_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkADXMobilityCore_UPF_FEDERATE_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-28T16:08:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcSnowflakeMobilityCoreUPF_PROD')]",
				"[concat(variables('factoryId'), '/datasets/SinkADXMobilityCore_UPF_FEDERATE_PROD')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - SMF_Events_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD from MOBILITYCORELOCAL.MSLOGS.STREAM_SMF_EVENT_TOADLS  \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES)\nAND TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-04','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							}
						},
						"inputs": [
							{
								"referenceName": "Src_Snowflake_MobilityCore_SMF_Events_toADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_SMF_Events_ADLS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_Snowflake_MobilityCore_SMF_Events_toADLS')]",
				"[concat(variables('factoryId'), '/datasets/Sink_SMF_Events_ADLS_JSON')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - SMF_Metrics_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to ADLS Sink",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select SF_LOAD_TS_EST, RECORD_CONTENT from \"MOBILITYCORELOCAL\".\"MSLOGS\".\"STREAM_SMF_PROD_TOADLS\"\nwhere (RECORD_CONTENT:tags.appName = 'smfcc_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pcfinterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_procedure'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pgw_procedure'\nOR RECORD_CONTENT:tags.appName = 'pgwcc_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_pfcp_interface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_gtpcinterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_udminterface'\nOR RECORD_CONTENT:tags.appName = 'smfcc_chfinterface'\nOR RECORD_CONTENT:tags.job = 'pfcp' \nOR RECORD_CONTENT:tags.job = 'smfmonitor')\nAND TO_DATE(SF_LOAD_TS_EST) >= TO_DATE('2022-11-03','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							}
						},
						"inputs": [
							{
								"referenceName": "Src_Snowflake_MobilityCore_SMF_PROD_toADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_SMF_Metrics_ADLS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_Snowflake_MobilityCore_SMF_PROD_toADLS')]",
				"[concat(variables('factoryId'), '/datasets/Sink_SMF_Metrics_ADLS_JSON')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_DEBUG_CSMF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MOBILITYCORELOCAL.MSLOGS.STREAM_LOGS_FLUENTD_DEBUG_CSMF_RAW \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES)\nand TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_DEBUG_CSMF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-04T05:31:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_DEBUG_CUPF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MOBILITYCORELOCAL.MSLOGS.STREAM_LOGS_FLUENTD_DEBUG_CUPF_RAW \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES)\nand TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_DEBUG_CUPF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-25T00:28:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_EVENT_CSMF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MOBILITYCORELOCAL.MSLOGS.STREAM_LOGS_FLUENTD_EVENT_CSMF_RAW  \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES)\nand TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_EVENT_CSMF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_EVENT_CUPF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MOBILITYCORELOCAL.MSLOGS.STREAM_LOGS_FLUENTD_EVENT_CUPF_RAW  \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES) \nand TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_EVENT_CUPF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_SYSLOG_CSMF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MSLOGS.STREAM_LOGS_FLUENTD_SYSLOG_CSMF_RAW\nwhere TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_SYSLOG_CSMF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-25T00:28:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - STREAM_LOGS_FLUENTD_SYSLOG_CUPF_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "SELECT TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD FROM MSLOGS.STREAM_LOGS_FLUENTD_SYSLOG_CUPF_RAW\nwhere TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-08','yyyy-mm-dd')",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SF_LOAD_TS"
										},
										"sink": {
											"name": "SF_LOAD_TS",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RAW_RECORD"
										},
										"sink": {
											"name": "RAW_RECORD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Src_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_LOGS_FLUENTD_ANY_RAW",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": "LOGS_FLUENTD_SYSLOG_CUPF_RAW"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-25T00:28:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/datasets/Sink_LOGS_FLUENTD_ANY_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - UPF_Events_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to RAW Kusto table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select TO_TIMESTAMP(RAW_RECORD['@timestamp']) AS SF_LOAD_TS, RAW_RECORD from MOBILITYCORELOCAL.MSLOGS.STREAM_UPF_EVENT_TOADLS  \nwhere substr(RAW_RECORD['kubernetes']['host'], 1, 7) in (select substr(SITE, 1, 7) from MOBILITYCORELOCAL.MSLOGS.SPOTLIGHT_SITES)\nAND TO_DATE(SF_LOAD_TS) >= TO_DATE('2022-11-04','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							}
						},
						"inputs": [
							{
								"referenceName": "Src_Snowflake_MobilityCore_UPF_Events_toADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_UPF_Events_ADLS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_Snowflake_MobilityCore_UPF_Events_toADLS')]",
				"[concat(variables('factoryId'), '/datasets/Sink_UPF_Events_ADLS_JSON')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stream - UPF_Metrics_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Snowflake to ADLS Sink",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "select SF_LOAD_TS_EST, RECORD_CONTENT from \"MOBILITYCORELOCAL\".\"MSLOGS\".\"STREAM_UPF_PROD_TOADLS\"\nwhere (RECORD_CONTENT:tags.job = 'pfcp'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_control_plane_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_data_plane_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_intf_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_session_db_stats'\nOR RECORD_CONTENT:tags.appName = 'sess_mgr_vpp_threads_cpu_utilization'\nOR RECORD_CONTENT:tags.appName = 'pfcp_procedure'\nOR RECORD_CONTENT:tags.appName = 'pfcp_protocol')\nAND TO_DATE(SF_LOAD_TS_EST) >= TO_DATE('2022-11-03','yyyy-mm-dd') ",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "mobilecoresteam"
							}
						},
						"inputs": [
							{
								"referenceName": "Src_Snowflake_MobilityCore_UPF_PROD_toADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_UPF_Metrics_ADLS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T21:00:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src_Snowflake_MobilityCore_UPF_PROD_toADLS')]",
				"[concat(variables('factoryId'), '/datasets/Sink_UPF_Metrics_ADLS_JSON')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blackbird2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "BLACKBIRD_HTTP_UP"
					}
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blackbird2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blackbird2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TblName": {
						"type": "string",
						"defaultValue": "BLSCKBIRD_FLOW_UP"
					}
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().TblName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blackbird2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_UP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BLACKBIRD_EDR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [],
				"typeProperties": {
					"schema": "EDR",
					"table": "SESSION_UP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BLACKBIRD_EDR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkADXMobilityCore_SMF_FEDERATE_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer_adxunitycloud",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"type": "datetime"
					},
					{
						"name": "RECORD_CONTENT",
						"type": "string"
					}
				],
				"typeProperties": {
					"table": "IEBUS_MOB_PM_CORE_METRICS_5G_NORTHRIM_STAGE_SMF_FEDERATE_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer_adxunitycloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkADXMobilityCore_UPF_FEDERATE_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer_adxunitycloud",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"type": "datetime"
					},
					{
						"name": "TIME",
						"type": "datetime"
					},
					{
						"name": "FED_UNIQUE_NAME",
						"type": "string"
					},
					{
						"name": "APPNAME",
						"type": "string"
					},
					{
						"name": "DNN",
						"type": "string"
					},
					{
						"name": "SNSSAI",
						"type": "string"
					},
					{
						"name": "CAUSECODE",
						"type": "string"
					},
					{
						"name": "POD",
						"type": "string"
					},
					{
						"name": "PEERID",
						"type": "string"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_CREATE_SERVICE_ATTEMPTS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_CREATE_SERVICE_SUCCESS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_CREATE_SERVICE_FAILURES",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_SERVICE_ATTEMPTS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_SERVICE_SUCCESS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_SERVICE_FAILURES",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_DELETE_SERVICE_ATTEMPTS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_DELETE_SERVICE_SUCCESS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_DELETE_SERVICE_FAILURES",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_NOTIFY_ATTEMPTS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_NOTIFY_SUCCESS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_UPDATE_NOTIFY_FAILURES",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_TERMINATE_NOTIFY_ATTEMPTS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_TERMINATE_NOTIFY_SUCCESS",
						"type": "long"
					},
					{
						"name": "SMFCC_NSMF_SMPOLICY_CONTROL_TERMINATE_NOTIFY_FAILURES",
						"type": "long"
					},
					{
						"name": "RECEIVED_FILE_NAME",
						"type": "string"
					},
					{
						"name": "FILE_ROW_NUMBER",
						"type": "long"
					}
				],
				"typeProperties": {
					"table": "IEBUS_MOB_PM_CORE_METRICS_5G_NORTHRIM_STAGE_UPF_FEDERATE_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer_adxunitycloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Events_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ao5gccustdataingest adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "a05gccustdataingest-events-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ao5gccustdataingest adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_LOGS_FLUENTD_ANY_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer_adxunitycloud",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TABLENAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().TABLENAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer_adxunitycloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_SMF_Events_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ao5gccustdataingest adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SMF",
						"fileSystem": "ao5gccustdataingest-events-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ao5gccustdataingest adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_SMF_Metrics_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ao5gccustdataingest adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SMF",
						"fileSystem": "a05gccustdataingest-metrics-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ao5gccustdataingest adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_UPF_Events_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ao5gccustdataingest adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "UPF",
						"fileSystem": "ao5gccustdataingest-events-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ao5gccustdataingest adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_UPF_Metrics_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ao5gccustdataingest adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "UPF",
						"fileSystem": "a05gccustdataingest-metrics-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ao5gccustdataingest adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcSnowflakeMCC_EDR_FLOW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_MCC_EDR_FLOW_UP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcSnowflakeMCC_EDR_SESSION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_MCC_EDR_SESSION_UP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcSnowflakeMobilityCoreSMF_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_SMF_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcSnowflakeMobilityCoreUPF_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_UPF_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src_LOGS_FLUENTD_ANY_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RAW_RECORD",
						"type": "VARIANT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FILE_NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "LOGS_FLUENTD_SYSLOG_CSMF_RAW"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src_Snowflake_MobilityCore_SMF_Events_toADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_SMF_EVENT_TOADLS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src_Snowflake_MobilityCore_SMF_PROD_toADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_SMF_PROD_TOADLS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src_Snowflake_MobilityCore_UPF_Events_toADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_UPF_EVENT_TOADLS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src_Snowflake_MobilityCore_UPF_PROD_toADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_UnityCloudFFA_MobilityCoreLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "SF_LOAD_TS_EST",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "RECORD_CONTENT",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RECORD_METADATA",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "METADATA$ACTION",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "METADATA$ISUPDATE",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "METADATA$ROW_ID",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "MSLOGS",
					"table": "STREAM_UPF_PROD_TOADLS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_UnityCloudFFA_MobilityCoreLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blackbird2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blackbird2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "BLACKBIRD_HTTP_UP"
					}
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blackbird2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_stunitycloud_Identity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage_stunitycloud_Identity_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "BlockBlobStorage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_stunitycloud_SAS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_kv_unityclouddiag",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureBlobStorage_stunitycloud_SAS_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_kv_unityclouddiag')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorer_adxunitycloud')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataExplorer",
				"typeProperties": {
					"endpoint": "[parameters('AzureDataExplorer_adxunitycloud_properties_typeProperties_endpoint')]",
					"database": "[parameters('AzureDataExplorer_adxunitycloud_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_kv_unityclouddiag')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_kv_unityclouddiag_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLACKBIRD_EDR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('BLACKBIRD_EDR_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blackbird2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataExplorer",
				"typeProperties": {
					"endpoint": "[parameters('Blackbird2_properties_typeProperties_endpoint')]",
					"database": "[parameters('Blackbird2_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_UnityCloudFFA_MobilityCore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_kv_unityclouddiag",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Snowflake_UnityCloudFFA_MobilityCore_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_kv_unityclouddiag')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_UnityCloudFFA_MobilityCoreLocal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Snowflake_UnityCloudFFA_MobilityCoreLocal_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ao5gccustdataingest adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ao5gccustdataingest adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ao5gccustdataingest adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('linkedService1_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Periodic10Mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_DEBUG_CSMF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_DEBUG_CUPF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_SYSLOG_CUPF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_SYSLOG_CSMF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_EVENT_CSMF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - STREAM_LOGS_FLUENTD_EVENT_CUPF_RAW",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - MobilityCore_SMF_FEDERATE_PROD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - MobilityCore_UPF_FEDERATE_PROD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - SMF_Metrics_to_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - UPF_Metrics_to_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - SMF_Events_to_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stream - UPF_Events_to_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2021-07-24T01:43:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_DEBUG_CSMF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_DEBUG_CUPF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_SYSLOG_CUPF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_SYSLOG_CSMF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_EVENT_CSMF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - STREAM_LOGS_FLUENTD_EVENT_CUPF_RAW')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - MobilityCore_SMF_FEDERATE_PROD')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - MobilityCore_UPF_FEDERATE_PROD')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - SMF_Metrics_to_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - UPF_Metrics_to_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - SMF_Events_to_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/Stream - UPF_Events_to_ADLS')]"
			]
		}
	]
}