snowflakeintegration/pipeline/BlackBird2_Child_PipeLine_2.json
{
	"name": "BlackBird2_Child_PipeLine_2",
	"properties": {
		"activities": [
			{
				"name": "GetStageTableCmd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": {
							"value": "@concat('stageTablecreatorquery(',string(pipeline().parameters.IterationId),',\"',pipeline().parameters.destinationTable,'\",\"',pipeline().parameters.up,'\")')",
							"type": "Expression"
						},
						"queryTimeout": "00:10:00",
						"noTruncation": false
					},
					"dataset": {
						"referenceName": "AzureDataExplorerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CreateStageTables",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "GetStageTableCmd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@activity('GetStageTableCmd').output.firstRow.stgcmd",
						"type": "Expression"
					},
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "Blackbird2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "BLACKBIRD_TO_BLACKBIRD2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CreateStageTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@pipeline().parameters.SnowFlakeQuery",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "AzureDataExplorerSink",
						"ingestionMappingName": ""
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "linkedService1",
							"type": "LinkedServiceReference"
						},
						"path": "mobilecoresteam"
					}
				},
				"inputs": [
					{
						"referenceName": "FLOW_UP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataExplorerTable2",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"SnowFlakeQuery": {
				"type": "string"
			},
			"IterationId": {
				"type": "int"
			},
			"destinationTable": {
				"type": "string"
			},
			"up": {
				"type": "string"
			}
		},
		"annotations": []
	}
}