snowflakeintegration/pipeline/BlackBird2_Child_PipeLine_1.json
{
	"name": "BlackBird2_Child_PipeLine_1",
	"properties": {
		"activities": [
			{
				"name": "GetQueries",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": {
							"value": "@concat('querytranformer(\"',pipeline().parameters.startdate,'\",\"',pipeline().parameters.enddate,'\",\"',pipeline().parameters.streamname,'\",\"',pipeline().parameters.destinationTable,'\",\"',pipeline().parameters.up,'\",\"',pipeline().parameters.SnowFlakeQuery,'\")')",
							"type": "Expression"
						},
						"queryTimeout": "00:10:00",
						"noTruncation": false
					},
					"dataset": {
						"referenceName": "AzureDataExplorerTable2",
						"type": "DatasetReference",
						"parameters": {
							"TblName": "BLSCKBIRD_FLOW_UP"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Through the results",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetQueries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetQueries').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Call BlackBir2 Child Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "BlackBird2_Child_PipeLine_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SnowFlakeQuery": "@item().Cmd",
									"IterationId": "@item().Id",
									"destinationTable": "@item().dest_table",
									"up": "@pipeline().parameters.up"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "test",
								"value": {
									"value": "@item().Id",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"startdate": {
				"type": "string"
			},
			"enddate": {
				"type": "string"
			},
			"streamname": {
				"type": "string"
			},
			"destinationTable": {
				"type": "string"
			},
			"up": {
				"type": "string"
			},
			"SnowFlakeQuery": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}