snowflakeintegration/pipeline/Copy From Old Kusto to New Kusto.json
{
	"name": "Copy From Old Kusto to New Kusto",
	"properties": {
		"activities": [
			{
				"name": "Generate Queries for copy",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": "set notruncation;\nlet old = (\n    cluster('blackbird.westus2.kusto.windows.net').database('blackbird').BLACKBIRD_HTTP_UP \n    | summarize count() by tolong(SESSIONID));\nlet new = (HTTP_UP | summarize count() by tolong(SESSIONID));\nold\n| join kind=fullouter new on SESSIONID\n| where count_ != count_1 and isempty(count_1)\n| sort by SESSIONID asc\n| extend r = row_number(1) / 300\n| summarize ids = replace_string(replace_string(replace_string(tostring(make_list(SESSIONID)), '[', ''), ']', ''), '\"', ''),sum(count_) by r\n| project\n    cmd = strcat(\".set-or-append async HTTP_UP with (distributed  = true) <| cluster('blackbird.westus2.kusto.windows.net').database('blackbird').BLACKBIRD_HTTP_UP\"\n           , \" | where SESSIONID in (\", ids, \") | project \"),\n    sum_count_\n| sort by sum_count_ desc\n| limit 1500",
						"queryTimeout": "00:10:00"
					},
					"dataset": {
						"referenceName": "AzureDataExplorerTable2",
						"type": "DatasetReference",
						"parameters": {
							"TblName": "BLSCKBIRD_FLOW_UP"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Through the Queries",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Generate Queries for copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Generate Queries for copy').output.value",
						"type": "Expression"
					},
					"batchCount": 15,
					"activities": [
						{
							"name": "ExecuteQuery",
							"type": "AzureDataExplorerCommand",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": {
									"value": "@concat(item().cmd, 'EVENTTIME = todatetime(EVENTTIME),TRANSACTIONID = tostring(TRANSACTIONID),FLOWID = tostring(FLOWID),BEARERID = tostring(BEARERID),SESSIONID = tostring(SESSIONID),TRANSACTIONTIMESTAMP = todatetime(TRANSACTIONTIMESTAMP),REQUESTLATENCY = tolong(REQUESTLATENCY),RESPONSELATENCY = tolong(RESPONSELATENCY),TRANSACTIONDURATION = tolong(TRANSACTIONDURATION),TRANSACTIONTIMESUBSECONDS = tolong(TRANSACTIONTIMESUBSECONDS),IMSI = tostring(IMSI),IMEI = tostring(IMEI),MSISDN = tostring(MSISDN),SERVINGMCC = tostring(SERVINGMCC),SERVINGMNC = tostring(SERVINGMNC),PLMNIDLENGTH = tolong(PLMNIDLENGTH),RATTYPE = tostring(RATTYPE),ROAMINGSTATUS = tobool(ROAMINGSTATUS),SGWIP = tostring(SGWIP),REALAPN = tostring(REALAPN),ORIGINALAPN = tostring(ORIGINALAPN),GINC = tostring(GINC),SOURCEIP = tostring(SOURCEIP),SOURCEPORT = tostring(SOURCEPORT),DESTINATIONIP = tostring(DESTINATIONIP),DESTINATIONPORT = tostring(DESTINATIONPORT),IPTRANSPARENCY = tobool(IPTRANSPARENCY),REQUESTMETHOD = tostring(REQUESTMETHOD),CLIENTURL = tostring(CLIENTURL),SERVERURL = tostring(SERVERURL),CLIENTPROTOCOL = tostring(CLIENTPROTOCOL),SERVERPROTOCOL = tostring(SERVERPROTOCOL),USERAGENT = tostring(USERAGENT),REQCONTENTTYPE = tostring(REQCONTENTTYPE),REQCONTENTLENGTH = tostring(REQCONTENTLENGTH),REQCLIENTHEADERSIZE = tolong(REQCLIENTHEADERSIZE),REQCLIENTBODYSIZE = tolong(REQCLIENTBODYSIZE),REQSERVERHEADERSIZE = tolong(REQSERVERHEADERSIZE),REQSERVERBODYSIZE = tolong(REQSERVERBODYSIZE),RANGEREQUEST = tobool(RANGEREQUEST),REQUESTSUCCESSFUL = tobool(REQUESTSUCCESSFUL),REQCHUNKED = tobool(REQCHUNKED),EXPLICITPROXYREQUEST = tobool(EXPLICITPROXYREQUEST),DNSRESOLUTIONAPPLIED = tobool(DNSRESOLUTIONAPPLIED),LOCALIP = tostring(LOCALIP),LOCALPORT = tostring(LOCALPORT),SERVERIP = tostring(SERVERIP),SERVERPORT = tostring(SERVERPORT),BEFAPPLIED = tobool(BEFAPPLIED),PROXYNC = tostring(PROXYNC),RESPONSESTATUS = tolong(RESPONSESTATUS),RSPSERVERCONTENTTYPE = tostring(RSPSERVERCONTENTTYPE),RSPCLIENTCONTENTTYPE = tostring(RSPCLIENTCONTENTTYPE),RSPSERVERCONTENTLENGTH = tolong(RSPSERVERCONTENTLENGTH),RSPCLIENTCONTENTLENGTH = tolong(RSPCLIENTCONTENTLENGTH),RSPSERVERHEADERSIZE = tolong(RSPSERVERHEADERSIZE),RSPSERVERBODYSIZE = tolong(RSPSERVERBODYSIZE),RSPCLIENTHEADERSIZE = tolong(RSPCLIENTHEADERSIZE),RSPCLIENTBODYSIZE = tolong(RSPCLIENTBODYSIZE),RSPCHUNKED = tobool(RSPCHUNKED),RSPSERVEDFROMCACHE = tobool(RSPSERVEDFROMCACHE),RSPCACHED = tobool(RSPCACHED),COMPRESSIONMETHOD = tostring(COMPRESSIONMETHOD),SERVERCOMPRESS = tostring(SERVERCOMPRESS),PROXYCOMPRESS = tostring(PROXYCOMPRESS),COMPRESSIONRATIO = tostring(COMPRESSIONRATIO),COMPBYTESSAVED = tostring(COMPBYTESSAVED),SERVERIMAGETYPE = tostring(SERVERIMAGETYPE),CLIENTIMAGETYPE = tostring(CLIENTIMAGETYPE),SERVERRESOLUTION = tostring(SERVERRESOLUTION),CLIENTRESOLUTION = tostring(CLIENTRESOLUTION),WEBIMGOPTIMIZATIONRATIO = tostring(WEBIMGOPTIMIZATIONRATIO),WEBIMGBYTESSAVED = tostring(WEBIMGBYTESSAVED),SERVEDCONTAINERTYPE = tostring(SERVEDCONTAINERTYPE),ONLINETRANSCODINGAPPLIED = tobool(ONLINETRANSCODINGAPPLIED),SERVEDADAPTEDVIDEO = tobool(SERVEDADAPTEDVIDEO),VIDEOPACED = tostring(VIDEOPACED),SERVEDQOE = tostring(SERVEDQOE),PACINGBITRATE = tostring(PACINGBITRATE),VIDBYTESSAVED = tostring(VIDBYTESSAVED),SOURCEWIDTH = tostring(SOURCEWIDTH),TARGETWIDTH = tostring(TARGETWIDTH),SOURCEHEIGHT = tostring(SOURCEHEIGHT),TARGETHEIGHT = tostring(TARGETHEIGHT),SOURCEBITRATE = tostring(SOURCEBITRATE),TARGETBITRATE = tostring(TARGETBITRATE),SOURCEFRAMERATE = tostring(SOURCEFRAMERATE),TARGETFRAMERATE = tostring(TARGETFRAMERATE),SOURCEAUDIOSAMPLINGRATE = tostring(SOURCEAUDIOSAMPLINGRATE),TARGETAUDIOSAMPLINGRATE = tostring(TARGETAUDIOSAMPLINGRATE),SOURCEVIDEOCODEC = tostring(SOURCEVIDEOCODEC),TARGETVIDEOCODEC = tostring(TARGETVIDEOCODEC),SOURCEAUDIOCODEC = tostring(SOURCEAUDIOCODEC),TARGETAUDIOCODEC = tostring(TARGETAUDIOCODEC),SOURCEAUDIOCHANNELS = tostring(SOURCEAUDIOCHANNELS),TARGETAUDIOCHANNELS = tostring(TARGETAUDIOCHANNELS),CONTENTTYPE = tostring(CONTENTTYPE),MINIFYBYTESSAVED = tostring(MINIFYBYTESSAVED),ISAPPLIEDRESPONSE = tostring(ISAPPLIEDRESPONSE),NUMUPDATEDURLS = tostring(NUMUPDATEDURLS),CACHEDAGE = tostring(CACHEDAGE),REQUESTCACHEMAXAGE = tostring(REQUESTCACHEMAXAGE),RESPONSECACHEMAXAGE = tolong(RESPONSECACHEMAXAGE),REQUESTCACHECONTROLFLAGS = tostring(REQUESTCACHECONTROLFLAGS),RESPONSECACHECONTROLFLAGS = tolong(RESPONSECACHECONTROLFLAGS),STOREBYPASSCAUSE = tostring(STOREBYPASSCAUSE),RETRIEVEBYPASSCAUSE = tostring(RETRIEVEBYPASSCAUSE),CACHEENTRYSTALE = tobool(CACHEENTRYSTALE),TCPSPLICINGSTATUS = tostring(TCPSPLICINGSTATUS),TCPLOCALPORT = tolong(TCPLOCALPORT),TCPPROTOCOL = tostring(TCPPROTOCOL),RATELIMITINGBITRATE = tostring(RATELIMITINGBITRATE),RATELIMITINGBYPASSCANCELREASON = tostring(RATELIMITINGBYPASSCANCELREASON),RATELIMITINGAPPLIED = tobool(RATELIMITINGAPPLIED),UPSTREAMBYTESRECEIVED = tolong(UPSTREAMBYTESRECEIVED),TLSSNI = tostring(TLSSNI),TCPSERVERPORT = tolong(TCPSERVERPORT),DOWNSTREAMBYTESRECEIVED = tolong(DOWNSTREAMBYTESRECEIVED),UPSTREAMBYTESSENT = tolong(UPSTREAMBYTESSENT),TCPPROXYNC = tostring(TCPPROXYNC),DOWNSTREAMBYTESSENT = tolong(DOWNSTREAMBYTESSENT),TCPLOCALIP = tostring(TCPLOCALIP),TCPSERVERIP = tostring(TCPSERVERIP),RATELIMITINGBURSTSIZE = tostring(RATELIMITINGBURSTSIZE),TLSSERVERCOMMONNAME = tostring(TLSSERVERCOMMONNAME),MANIFESTMATCHED = tostring(MANIFESTMATCHED),MANIFESTMAXRATE = tostring(MANIFESTMAXRATE),MAXRTT = tolong(MAXRTT),MAXDOWNSTREAMMSS = tolong(MAXDOWNSTREAMMSS),MINDOWNSTREAMMSS = tolong(MINDOWNSTREAMMSS),AVGDOWNSTREAMTPUT = tolong(AVGDOWNSTREAMTPUT),AVGRTT = tolong(AVGRTT),MAXDOWNSTREAMCWND = tolong(MAXDOWNSTREAMCWND),MINDOWNSTREAMTPUT = tolong(MINDOWNSTREAMTPUT),AVGDOWNSTREAMCWND = tolong(AVGDOWNSTREAMCWND),MINRTT = tolong(MINRTT),AVGDOWNSTREAMMSS = tolong(AVGDOWNSTREAMMSS),MINDOWNSTREAMCWND = tolong(MINDOWNSTREAMCWND),MAXDOWNSTREAMTPUT = tolong(MAXDOWNSTREAMTPUT),ABRBYTESSAVED = tostring(ABRBYTESSAVED),ABRRATELIMITINGBITRATE = tostring(ABRRATELIMITINGBITRATE),ABRSESSIONID = tostring(ABRSESSIONID),VIDEOPACINGBYTESSAVED = tostring(VIDEOPACINGBYTESSAVED),ABRRATELIMITINGAPPLIED = tostring(ABRRATELIMITINGAPPLIED),ABRBYPASSREASON = tostring(ABRBYPASSREASON),VIDEOBYPASSREASON = tostring(VIDEOBYPASSREASON),REFERERURL = tostring(REFERERURL),REQAPPLIEDPOLICYNAME = tostring(REQAPPLIEDPOLICYNAME),TCPNEGOTIATEDALPN = tostring(TCPNEGOTIATEDALPN),TCPRLSESSIONDURATION = tostring(TCPRLSESSIONDURATION),TCPRLSESSIONBITRATE = tostring(TCPRLSESSIONBITRATE),TCPRLSESSIONID = tostring(TCPRLSESSIONID),TCPAPPLIEDPOLICYNAME = tostring(TCPAPPLIEDPOLICYNAME),RSPDETECTEDCONTENTTYPE = tostring(RSPDETECTEDCONTENTTYPE),RSPAPPLIEDPOLICYNAME = tostring(RSPAPPLIEDPOLICYNAME),NUMDOWNSTREAMSEGRETRANS = tolong(NUMDOWNSTREAMSEGRETRANS),NUMDOWNSTREAMSEGEST = tolong(NUMDOWNSTREAMSEGEST),TCPCONNMEASBYPASSREASON = tostring(TCPCONNMEASBYPASSREASON),ACTIONAPPLIED = tostring(ACTIONAPPLIED),FILTERINSTNAME = tostring(FILTERINSTNAME),ONLINECATEGORY = tostring(ONLINECATEGORY),FILTERNAME = tostring(FILTERNAME),FILTERTYPE = tostring(FILTERTYPE),VIDEOAPPLIEDPOLICYNAME = tostring(VIDEOAPPLIEDPOLICYNAME),DEVICETYPE = tostring(DEVICETYPE),DEVICESCREENHEIGHT = tostring(DEVICESCREENHEIGHT),DEVICEMODEL = tostring(DEVICEMODEL),DEVICESCREENWIDTH = tostring(DEVICESCREENWIDTH),DEVICEMAKE = tostring(DEVICEMAKE),RTT = tolong(RTT),NUMSEGSOOOIN = tolong(NUMSEGSOOOIN),NUMSEGSRETRANSIN = tolong(NUMSEGSRETRANSIN),CLIENTRANGESTART = tolong(CLIENTRANGESTART),CLIENTRANGEEND = tolong(CLIENTRANGEEND),SERVERRANGESTART = tolong(SERVERRANGESTART),SERVERRANGEEND = tolong(SERVERRANGEEND),TRANSCODINGSESSIONID = tostring(TRANSCODINGSESSIONID),TCPRLBYTESSAVED = tostring(TCPRLBYTESSAVED),ENTITLEMENTVALUES = tostring(ENTITLEMENTVALUES),UDPPROXYUPSTREAMBYTESRECD = tolong(UDPPROXYUPSTREAMBYTESRECD),UDPPROXYUPSTREAMBYTESSENT = tolong(UDPPROXYUPSTREAMBYTESSENT),UDPPROXYDOWNSTREAMBYTESRECD = tolong(UDPPROXYDOWNSTREAMBYTESRECD),UDPPROXYDOWNSTREAMBYTESSENT = tolong(UDPPROXYDOWNSTREAMBYTESSENT),UDPPROXYLOCALIPADDR = tostring(UDPPROXYLOCALIPADDR),UDPPROXYLOCALPORT = tostring(UDPPROXYLOCALPORT),UDPPROXYSERVERIPADDR = tostring(UDPPROXYSERVERIPADDR),UDPPROXYSERVERPORT = tostring(UDPPROXYSERVERPORT),UDPPROXYPROXYNETWORKCONTEXT = tostring(UDPPROXYPROXYNETWORKCONTEXT),UDPPROXYQUICSNI = tostring(UDPPROXYQUICSNI),UDPPROXYQUICVERSION = tostring(UDPPROXYQUICVERSION),UDPPROXYQUICCONNID = tostring(UDPPROXYQUICCONNID),UDPPROXYQUICRATELIMITINGAPPLIED = tobool(UDPPROXYQUICRATELIMITINGAPPLIED),UDPPROXYQUICRATELIMITINGBITRATE = tostring(UDPPROXYQUICRATELIMITINGBITRATE),UDPPROXYQUICRLBYPASSREASON = tostring(UDPPROXYQUICRLBYPASSREASON),UDPPROXYQUICRATELIMITINGBURSTSIZE = tostring(UDPPROXYQUICRATELIMITINGBURSTSIZE),UDPPROXYAPPLIEDUDPPOLICYNAME = tostring(UDPPROXYAPPLIEDUDPPOLICYNAME),CPLANESESSIONID = tostring(CPLANESESSIONID),QUICRATELIMITINGBYTESSAVED = tostring(QUICRATELIMITINGBYTESSAVED),UDPRLSESSIONID = tostring(UDPRLSESSIONID),UDPRLSESSIONDURATION = tostring(UDPRLSESSIONDURATION),UDPRLSESSIONBITRATE = tostring(UDPRLSESSIONBITRATE),DPIAPPLICATION = tostring(DPIAPPLICATION),TIMEINFOTRANSACTIONID = tolong(TIMEINFOTRANSACTIONID),RECORDINGENTITY = tostring(RECORDINGENTITY),PROXYINSTANCENAME = tostring(PROXYINSTANCENAME),SESSOPERATORSPECIFIC1 = tostring(SESSOPERATORSPECIFIC1),REQFAILUREREASON = tostring(REQFAILUREREASON),CLIENTCONGESTIONALGORITHM = tostring(CLIENTCONGESTIONALGORITHM),SERVERCONGESTIONALGORITHM = tostring(SERVERCONGESTIONALGORITHM),BYTESDROPPEDDUETOBUFFERLIMITING = tostring(BYTESDROPPEDDUETOBUFFERLIMITING),UDPPROXYFAILUREREASON = tostring(UDPPROXYFAILUREREASON),CGIMCC = tostring(CGIMCC),CGIMNC = tostring(CGIMNC),CGILAC = tostring(CGILAC),CGICI = tostring(CGICI),SAIMCC = tolong(SAIMCC),SAIMNC = tolong(SAIMNC),SAILAC = tolong(SAILAC),SAISAC = tolong(SAISAC),RAIMCC = tostring(RAIMCC),RAIMNC = tostring(RAIMNC),RAIRAC = tostring(RAIRAC),RAILAC = tostring(RAILAC),TAIMCC = tolong(TAIMCC),TAIMNC = tolong(TAIMNC),TAITAC = tolong(TAITAC),ECGIMCC = tolong(ECGIMCC),ECGIMNC = tolong(ECGIMNC),ECGIECI = tolong(ECGIECI),LAIMCC = tostring(LAIMCC),LAIMNC = tostring(LAIMNC),LAILAC = tostring(LAILAC),VIDEORATELIMITFLOWAGGRSTATE = tostring(VIDEORATELIMITFLOWAGGRSTATE),TCPRATELIMITFLAGGRSTATE = tolong(TCPRATELIMITFLAGGRSTATE),CONGESTIONLEVELNONETIME = tolong(CONGESTIONLEVELNONETIME),CONGESTIONLEVELMILDTIME = tolong(CONGESTIONLEVELMILDTIME),CONGESTIONLEVELMODERATETIME = tolong(CONGESTIONLEVELMODERATETIME),CONGESTIONLEVELSEVERETIME = tolong(CONGESTIONLEVELSEVERETIME),UDPRATELIMITFLAGGRSTATE = tostring(UDPRATELIMITFLAGGRSTATE),CONTENTPROVIDER = tostring(CONTENTPROVIDER),APPID = tostring(APPID),CONSENTSTATUS = tostring(CONSENTSTATUS),SHIPSTATUS = tostring(SHIPSTATUS),GWNODEID = tostring(GWNODEID),RESERVEFIELD1 = tostring(RESERVEFIELD1),RESERVEFIELD2 = tostring(RESERVEFIELD2),RESERVEFIELD3 = tostring(RESERVEFIELD3),RESERVEFIELD4 = tostring(RESERVEFIELD4),RESERVEFIELD5 = tostring(RESERVEFIELD5),RESERVEFIELD6 = tostring(RESERVEFIELD6),RESERVEFIELD7 = tostring(RESERVEFIELD7),RESERVEFIELD8 = tostring(RESERVEFIELD8),RESERVEFIELD9 = tostring(RESERVEFIELD9),RESERVEFIELD10 = tostring(RESERVEFIELD10),UP = tostring(UP)')",
									"type": "Expression"
								},
								"commandTimeout": "01:00:00"
							},
							"linkedServiceName": {
								"referenceName": "Blackbird2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}