snowflakeintegration/pipeline/EDR_Parent.json
{
	"name": "EDR_Parent",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('SnowflakeStreams')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test",
								"value": {
									"value": "@item().value",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SnowflakeStreams",
					"value": [
						"uhiuwehr",
						"SFSDFSD"
					]
				}
			}
		],
		"variables": {
			"SnowflakeStreams": {
				"type": "Array"
			},
			"Test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}