snowflakeintegration/pipeline/EDR_Parent.json
{
	"name": "EDR_Parent",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('SnowflakeStreams').value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Stream - EDR_ALL_UP_copy1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"query": {
										"value": "@item().value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SnowflakeStreams",
					"value": [
						"uhiuwehr",
						"SFSDFSD"
					]
				}
			}
		],
		"variables": {
			"SnowflakeStreams": {
				"type": "Array",
				"defaultValue": [
					"uhiuwehr",
					"SFSDFSD"
				]
			}
		},
		"annotations": []
	}
}